<ion-header>
  <ion-toolbar>
    <ion-title>Выберите дату</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Закрыть</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-datetime [(ngModel)]="selectedDate" (ionChange)="onDateChange($event)" [highlightedDates]="highlightedDates" [showDefaultButtons]="true">
    <span>Суммарное кол-во калорий: 2908ккал</span>
  </ion-datetime>

  <div *ngIf="selectedDate">
    <ion-card *ngFor="let card of cards">
      <ion-card-header>
        <ion-card-title>{{ card.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ card.content }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>