<ion-content class="ion-padding">
  <!-- Имя пользователя -->
  <div *ngIf="!showName">
    <ion-item>
      <ion-label position="floating">Имя</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="submitName()">Продолжить</ion-button>
  </div>

  <!-- Отображаем введенное имя -->
  <div *ngIf="showName" class="display-text">
    Имя: {{ name }}
  </div>

  <!-- Поле для даты рождения -->
  <div *ngIf="showName && !showBirthDate">
    <ion-item>
      <ion-label position="floating">Дата рождения</ion-label>
      <ion-datetime display-format="YYYY-MM-DD" [(ngModel)]="birthDate"></ion-datetime>
    </ion-item>
    <ion-button expand="block" (click)="submitBirthDate()">Продолжить</ion-button>
  </div>

  <!-- Отображаем дату рождения и возраст -->
  <div *ngIf="showBirthDate" class="display-text">
    Дата рождения: {{ birthDate | date:'yyyy-MM-dd' }} (Возраст: {{ age }} лет)
  </div>
</ion-content>