<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Лента</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let article of articles" (click)="openArticleModal(article)" class="article-card">
      <ion-item lines="none">
        <ion-avatar slot="start" class="avatar">
          <img [src]="article.authorAvatar" />
        </ion-avatar>
        <ion-label>
          <h2 class="article-title">{{ article.title }}</h2>
          <p class="article-author">CareAI | Anonimous</p>
        </ion-label>
      </ion-item>
      <!-- <ion-card-content>
        <p class="article-description">{{ article.description }}</p>
      </ion-card-content> -->
    </ion-card>
  </ion-list>
</ion-content>